absl-py
appdirs
astunparse
audioread
auto-face-recognition
beautifulsoup4
cachetools
certifi
cffi
chardet
click
cycler
decorator
docopt
filelock
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gTTS
h5py
idna
joblib
Js2Py
Keras-Preprocessing
kiwisolver
lazyme
librosa
llvmlite
lxml
Markdown
matplotlib
numpy
oauthlib
opencv-contrib-python
opt-einsum
packaging
Pillow
pipwin
playsound
pooch
protobuf
pyasn1
pyasn1-modules
pycparser
pyjokes
pyjsparser
pyparsing
PyPrind
pySmartDL
python-dateutil
pytz
regex
requests
requests-oauthlib
resampy
rsa
sacremoses
scikit-learn
scipy
six
SoundFile
soupsieve
SpeechRecognition
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
tzlocal
urllib3
Werkzeug
wikipedia
wrapt